/*General Style*/

  :root {
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Header*/
  #title {
    font-size: 36px;
    font-weight: 600;
  }
  
  /* Main */
  
  .main-container {
    background-color: lightgray;
    padding: 30px;
  }
  
  .container {
    background-color: white;
    margin: auto;
    width: 50%;
    margin: 0 auto;
  }
  
  .task_element{
    display: flex; 
    padding-bottom: 10px;
    align-items: center;
  }
  
  #add_task_button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin-top: 20 px;
    cursor: pointer;
    border-radius: 12px;
    border: 0;
    margin: 10px;
  }
  
  #add_list_button {
    background-color: white;
    color: gray;
    padding: 10px 20px;
    margin-top: 20 px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid gray;
  }
  
  .list_title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .done:after {
    content: '✔';
    position: relative;
    left:0; top: 2px;
    width: 20px; 
    height: 20px;
    text-align: center;
    border: 1px solid green;
    background: #f8f8f8;
    background-color: white;
    padding: 4px;
    border-radius: 50%;
    color: green;
    margin-right: 10px;
  }
  
  .headline-container {
    display: flex;
    align-items: center;
  }
  
  .task-list-container {
    margin: 30px;
  }
  
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    margin-right: 3px;
  }
  
  .pills {
    padding: 6px;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    font-size: 10px;
  }

  .editorial_button {
    background-color: #007bff;
  }