/*General Style*/

:root {
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;
}



/* Header*/
#title {
    font-size: 36px;
    font-weight: 600;
}

/* Main */
.container {
    max-width: 960px;
    margin: 0 auto;
}

.task_container {
    background-color: azure;
    width: 80%;
}


#add_task_button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin-top: 20 px;
    cursor: pointer;
    border-radius: 12px;
}

#add_list_button {
    background-color: white;
    color: gray;
    padding: 10px 20px;
    margin-top: 20 px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px gray;
}